
*{
  font-size: 9px;
}

h1{
  font-size: 10px;
}

.menu-box {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin: 30px 20px;

}
.menu-box_1{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  margin: 30px 20px;
}
.menu-list .menu-item {
  font-size: 18px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8); /* Menü öğeleri için hafif saydamlık */
  margin-bottom: 2px;
}

.food{
  display: block;
  margin: 10px 15px;

}
.food_1{
  padding-top: 80px;
}
.food_2{
  padding-top: 60px;
}
.name-box{
  display: flex;
  justify-content: space-between;
}
.info-box{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted black;
}

.h1{
  padding-top: 60px;
  text-align: center;
}
