*{
  font-size: 9px;
}
h1{
  font-size: 10px;
}
img{
  position: absolute!important;
  z-index: -1;
  max-width: 500px;
  min-height: 510px;
}
.page{
  max-width: 500px;
}
.menu-box {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin: 30px 20px;
}
.menu-box_1{
  display: grid;
  grid-template-columns: auto;
  margin: 30px 20px;
}
.food{
  display: block;
  margin: 10px 15px;

}
.food_1{
  padding-top: 80px;
}
.food_2{
  padding-top: 60px;
}
.name-box{
  display: flex;
  justify-content: space-between;
}
.info-box{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px dotted black;
}
.h1{
  padding-top: 60px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .food_1{
    padding-top: 100px;
  }
  .food_2{
    padding-top: 80px;
  }
  .menu-box {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    margin: 30px 32px;
  }
  .menu-box_1{
    display: grid;
    grid-template-columns: auto;
    margin: 30px 32px;
  }
}